/*
  Main style for this theme
  Depends on Bootstrap CSS
*/
@charset "UTF-8";
body {
  font-family: 'Aktiv Grotesk W01'; }

.form-control:focus {
  box-shadow: none;
  outline: 0 none; }

.margin-bottom {
  margin-bottom: 55px; }

/* Extra header end */
.global-header-wrapper {
  background: #149639;
  height: 165px; }

.global-header {
  background: url("img/global-hero-bg.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 1800px 570px;
  text-align: center;
  color: #fff;
  padding: 90px 0 50px;
  position: relative;
  z-index: 99; }
  .global-header h1 {
    margin-bottom: 80px;
    font-size: 3.2rem;
    font-weight: 200;
    margin-top: 0;
  }

.wiki-body {
  padding-top: 100px;
  margin-bottom: 60px;
  /*    Mobile Layout: 320px.*/
  /*  Tablet Layout: 320px.*/ }
  .wiki-body .section-title {
    font-size: 48px;
    line-height: 56px;
    margin-top:30px; 
  }
  .wiki-body .support-item {
    border-bottom: 0px solid #B5B5B5;
    padding: 70px 0; }
    .wiki-body .support-item .block {
      text-align: center; }
      .wiki-body .support-item .block h4 {
        margin-top: 30px; }
        .wiki-body .support-item .block h4 a {
          color: #149639;
          font-size: 28px;
          line-height: 30px; }
  @media only screen and (max-width: 767px) {
    .wiki-body .support-item .block {
      margin-bottom: 50px; } }
  .wiki-body .wiki-docs {
    margin-top: 70px;
    /*    Mobile Layout: 320px.*/
    /*  Tablet Layout: 320px.*/ }
    .wiki-body .wiki-docs .doc-item {
      border-style: solid;
      border-width: 1px;
      border-color: #dedede; }
      .wiki-body .wiki-docs .doc-item h3 {
        border-top: 8px solid #149639;
        margin-top: 0;
        padding: 30px 20px 0px; }
      .wiki-body .wiki-docs .doc-item ul {
        list-style: none;
        padding: 0 10px;
        margin-top: 20px; }
        .wiki-body .wiki-docs .doc-item ul li {
          padding-left: 1em;
          text-indent: -.7em;
          margin-bottom: 30px;
          font-size: 16px; }
          .wiki-body .wiki-docs .doc-item ul li:before {
            content: "• ";
            color: #149639; }
          .wiki-body .wiki-docs .doc-item ul li a {
            color: #149639; }
          .wiki-body .wiki-docs .doc-item ul li p {
            text-indent: .2em; }
    @media only screen and (max-width: 767px) {
      .wiki-body .wiki-docs .doc-item {
        margin-bottom: 20px; } }
    @media only screen and (min-width: 768px) and (max-width: 992px) {
      .wiki-body .wiki-docs .doc-item {
        margin-bottom: 20px; } }

aside.wiki-sidebar .sidebar-widget {
  margin-bottom: 40px; }
  aside.wiki-sidebar .sidebar-widget h4 {
    font-size: 28px; }
  aside.wiki-sidebar .sidebar-widget ul {
    padding-left: 0; }
    aside.wiki-sidebar .sidebar-widget ul li {
      list-style: none; }
      aside.wiki-sidebar .sidebar-widget ul li a {
        font-size: 20px;
        color: #149639;
        font-weight: 400; }

.search_box .input-group {
  width: 100%; 
}

.search_box input {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    box-shadow: none;
    border-right: none;
    border-width: 2px;
    border-color: #707070;
    height: 42px; 
  }
.search_box input:focus {
      box-shadow: none; 
      border-color: #707070;
    }

 .search_box  .btn {
    outline: none;
    background: transparent;
    border-style: solid;
    border-color: #707070 #707070 #707070 transparent;
    border-width: 2px;
    padding: 4px 6px;
    text-align: center; 
  }
 .search_box .input-group .btn i {
      background: #F2A901;
      color: #fff;
      padding: 8px 10px;
      border-radius: 100%; 
    }

aside.wiki-sidebar .sidebar-recent-post {
  margin-bottom: 60px; }
  aside.wiki-sidebar .sidebar-recent-post ul li {
    padding-left: 14px;
    margin-bottom: 10px;
    position: relative; }
    aside.wiki-sidebar .sidebar-recent-post ul li:before {
      content: "• ";
      color: #149639;
      position: absolute;
      left: 1px; }
aside.wiki-sidebar .sidebar-newsletter {
  margin-bottom: 60px; }
  aside.wiki-sidebar .sidebar-newsletter .input-group {
    width: 100%; }
    aside.wiki-sidebar .sidebar-newsletter .input-group input {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      box-shadow: none;
      border-right: none;
      border-width: 2px;
      border-color: #707070;
      height: 42px; }
      aside.wiki-sidebar .sidebar-newsletter .input-group input:focus {
        box-shadow: none; }
    aside.wiki-sidebar .sidebar-newsletter .input-group .btn {
      outline: none;
      background: transparent;
      border-style: solid;
      border-color: #707070 #707070 #707070 transparent;
      border-width: 2px;
      padding: 4px 6px;
      text-align: center; }
      aside.wiki-sidebar .sidebar-newsletter .input-group .btn i {
        background: #F2A901;
        color: #fff;
        padding: 8px 10px;
        border-radius: 100%; }
aside.wiki-sidebar .edit-section ul li i {
  margin-right: 4px; }

.sidebar-email-signup input {
    background-color: transparent;
    border-color: #707070;
    border-width: 2px;
    color: #999;
    display: block;
    font-size: 15px;
    font-size: 1.5rem;
    height: 42px;
    line-height: 15px;
    padding: 3px 35px 3px 10px;
    width: 100%
}
.sidebar-email-signup input:focus {
    color: #999;
    outline: none
}
.sidebar-email-signup .icon-arrow-submit {
    cursor: pointer;
    font-size: 0;
    float: right;
    height: 36px;
    margin: -29px -3px 0 0;
    width: 36px
}
.sidebar-email-signup .icon-arrow-submit:before {
    color: #f2a901;
    font-size: 30px;
    line-height: 16px;
    content: "\f138";
    font-family: "FontAwesome"!important;
}


#footer {
  background: #32302F;
  padding: 55px 0;
  padding-bottom:30px;
  /*  Mobile Layout: 320px.*/
  /*  Tablet Layout: 320px.*/ }
  @media only screen and (max-width: 767px) {
    #footer .doc-item {
      margin-bottom: 20px; } }
  @media only screen and (min-width: 768px) and (max-width: 992px) {
    #footer .doc-item {
      margin-bottom: 20px; } }
  #footer h4 {
    padding: 10px 0;
    font-weight: 700;
    color: #999;
    margin: 0; }
  #footer .menu-block ul {
    padding-left: 0; 
  list-style-type:none;
  }
    #footer .menu-block ul li:first-child a {
      padding: 10px 0;
      display: block;
      font-weight: 700; }
    #footer .menu-block ul li a {
      color: #999;
      font-weight: 200;
      padding: 2px 0;
      font-size: 15px;
      line-height: 22px; }
  #footer .footer-social-media ul {
    padding-left: 0; }
    #footer .footer-social-media ul li {
      display: inline-block;
      margin-right: 8px; }
      #footer .footer-social-media ul li a {
        font-size: 28px;
        color: #999;
        opacity: .5; }

  #footer .footer-email-signup input {
    background-color: transparent;
    border-color: rgba(243, 243, 243, 0.5);
    border-width: 2px;
    color: #999;
    display: block;
    font-size: 15px;
    font-size: 1.5rem;
    height: 36px;
    line-height: 15px;
    padding: 3px 35px 3px 10px;
    width: 100%
  }
  #footer .footer-email-signup input:focus {
      color: #999;
      outline: none
  }
  #footer .footer-email-signup .icon-arrow-submit {
      cursor: pointer;
      font-size: 0;
      float: right;
      height: 36px;
      margin: -29px -3px 0 0;
      width: 36px
  }
  #footer .footer-email-signup .icon-arrow-submit:before {
      color: rgba(153, 153, 153, 0.5);
      font-size: 24px
  }
     
  #footer .footer-copyright {
    color: #999;
    text-align: center;
    font-size: 15px;
    font-weight: 200;
    padding-top: 35px;
    opacity: .5; }
    #footer .footer-copyright a {
      color: #009639; }

/* Extra CSS !scss start */


body{
  overflow-x: hidden; 
}

.wiki-body .title {
  font-size: 3.8rem;
  line-height: 1.2;
}

.navbar-nav li a, .header-actions-menu li a  {
  font-size: 100%;
  line-height: 22px;
}

div.related {
    display: none;
}

pre {
  -moz-tab-size: 4;
  background: #eee none repeat scroll 0 0;
  font-family: "Courier 10 Pitch",Courier,monospace;
  font-size: 1.5rem;
  line-height: 1.4;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em;
  white-space: pre-wrap;
}



div.admonition {
    background-color: #fcc;
    border: 1px solid #faa;
    margin: 20px 0;
    padding: 10px 30px;
}
div.admonition tt.xref, div.admonition a tt {
    border-bottom: 1px solid #fafafa;
}
dd div.admonition {
    margin-left: -60px;
    padding-left: 60px;
}
div.admonition p.admonition-title {
    font-size: 24px;
    font-weight: normal;
    line-height: 1;
    margin: 0 0 10px;
    padding: 0;
}
div.admonition p.last {
    margin-bottom: 0;
}
pre.highlight, div.highlight {
    background-color: white;
}
pre.highlight, pre.literal-block, div.highlight pre {
    border: 1px solid #ccc;
}
dt:target, .highlight {
    background: #faf3e8 none repeat scroll 0 0;
}
div.note {
    background-color: #eee;
    border: 1px solid #ccc;
}
div.seealso {
    background-color: #eee;
    border: 1px solid #ccc;
}
div.topic {
    background-color: #eee;
}
p.admonition-title {
    display: inline;
}
p.admonition-title::after {
    content: ":";
}
pre, tt, code {
    font-family: "Courier 10 Pitch",Courier,monospace;
    font-size: 0.9em;
}
tt.descname, tt.descclassname, code.descname, code.descclassname {
    font-size: 0.95em;
}
tt.descname, code.descname {
    padding-right: 0.08em;
}
img.screenshot {
    box-shadow: 2px 2px 4px #eee;
}
table.docutils {
    border: 1px solid #888;
    box-shadow: 2px 2px 4px #eee;
    table-layout: fixed;
    max-width: 100%;
}
table.docutils td, table.docutils th {
    border: 1px solid #888;
    padding: 0.25em 0.7em;
}
table.field-list, table.footnote {
    border: medium none;
    box-shadow: none;
}
table.footnote {
    background: #fdfdfd none repeat scroll 0 0;
    border: 1px solid #eee;
    font-size: 0.9em;
    margin: 15px 0;
    width: 100%;
}
table.footnote + table.footnote {
    border-top: medium none;
    margin-top: -15px;
}
table.field-list th {
    padding: 0 0.8em 0 0;
}
table.field-list td {
    padding: 0;
}
table.footnote td.label {
    padding: 0.3em 0 0.3em 0.5em;
    width: 0;
}
table.footnote td {
    padding: 0.3em 0.5em;
}
dl {
    margin: 0;
    padding: 0;
}
dl dd {
    margin-left: 30px;
}
blockquote {
    margin: 0 0 0 30px;
    padding: 0;
}
ul, ol {
    margin: 10px 0 10px 30px;
    padding: 0;
}
pre {
    background: #eee none repeat scroll 0 0 !important;
    line-height: 1.3em;
    margin: 15px 0;
    padding: 7px 30px;
}
tt, code {
    background-color: #ecf0f3;
    color: #222;
    font-family: "Courier 10 Pitch",Courier,monospace;
}
tt.xref, code.xref, a tt {
    background-color: #fbfbfb;
    border-bottom: 1px solid white;
}
a:hover tt, a:hover code {
    background: #eee none repeat scroll 0 0;
}

table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0 none;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0 none;
  padding: 0;
  vertical-align: baseline;
}

table {
  margin: 0 0 1.5em;
  width: 100%;
}


table.docutils td, table.docutils th {
  border: 1px solid #888;
  padding: 0.25em 0.7em;
}

#introtable {
  border: medium none;
  box-shadow: none;
  margin-top: 50px;
  margin-bottom: 50px;
}

#introtable td {
  border: medium none;
  text-align: center;
}

#introtable a.reference {
  border: medium none;
  text-decoration: none;
}

a .icon-holder {
  fill: #009639;
}

a:hover .icon-holder {
  fill: #0bb35f;
}

a, a:link {
  color: #009639;
  text-decoration: none;
}

a.external {
  border-bottom: 1px dashed;
}

a:hover, a:active, a:focus {
  color: #0bb35f;
  text-decoration: none;
}

#introtable svg {
  height: 100px;
  width: 100px;
}

.icon-holder svg {
  vertical-align: middle;
}

svg {
  height: 16px;
  width: 16px;
}

aside.wiki-sidebar .sidebar-widget ul li a {
  color: #149639;
  font-size: 18px;
  font-weight: 400;
}


ul, ol {
    margin: 0 0 1.5em 1em;
}
ul {
    list-style: outside none disc;
}
ol {
    list-style: outside none decimal;
}
li > ul, li > ol {
    margin-bottom: 0;
    margin-left: 1.5em;
}

aside.wiki-sidebar .sidebar-widget ul li ul li {
  list-style: square;
}

aside.wiki-sidebar .sidebar-widget ul li a {
  color: #009639;
  font-size: 15px;
  font-weight: 200;
  line-height: 24px;
}

.section {
  overflow: hidden;
}



#footer .col-md-offset-1::after {
  background-color: #999;
  bottom: -100px;
  content: "";
  display: block;
  left: -50px;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 1px;
}

.search_box input {
  padding-left: 30px;
}

.search_box .input-group::before{
  content: '\f002';
  font-family: "FontAwesome";
  color: #666;
  height: 30px;
  left: 10px;
  position: absolute;
  top: 10px;
  width: 30px;
  z-index: 100;
}

.search_box .btn, .search_box .btn:hover {
  background: transparent none repeat scroll 0 0;
  box-shadow: none;
  border-color: #707070 #707070 #707070 transparent;
  border-style: solid;
  border-width: 2px;
  margin-left: -2px;
  outline: medium none;
  padding: 4px 20px;
  text-align: center;
}

.search_box i {
  color: #f2a901;
  display: block;
  font-size: 30px;
  position: absolute;
  right: 5px;
  text-align: center;
  top: 5px;
}


@media only screen and (max-width: 979px) {
  
}

@media only screen and (max-width: 400px) {
  .global-header {
    /*padding: 79px 0 25px; */
    padding-bottom:0px;
  }
}


/*hide the page title h1 from begening of content*/
#page_content h1:first-child{display: none;}


/* Extra CSS !scss end */



@media only screen and (min-width: 980px) and (max-width: 1024px) {
  
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  

  .container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
    margin-left: -15px !important;
    margin-right: -15px !important; 
    } 
}
@media only screen and (max-width: 767px) {

  #footer .col-md-offset-1::after {
    display: none;
  }


}
/* new logo placement 2019-10-04 */
.menu-logo img {
    margin-top: -15px;
}

.site-title img {
    margin-top: -10px;
}